body{
background:linear-gradient(120deg,#667eea,#764ba2);
font-family:Arial;
text-align:center;
color:white;
}

textarea{
width:70%;
height:120px;
border-radius:10px;
padding:10px;
font-size:16px;
}

button{
padding:10px 20px;
font-size:18px;
background:#00ffcc;
border:none;
border-radius:8px;
cursor:pointer;
}

table{
margin:auto;
background:white;
color:black;
border-collapse:collapse;
}

th,td{
padding:10px;
border:1px solid black;
text-align:center;
}

/* TOKEN COLORS */

.IDENTIFIER{
background:#00c3ff;
}

.NUMBER{
background:#ffd633;
}

.OPERATOR{
background:#ff6666;
color:white;
}

.SEMICOLON{
background:#e6e6e6;
}

/* PARSE TREE */

.tree{
margin-top:20px;
font-size:22px;
}

.node{
display:inline-block;
padding:10px 15px;
background:#00ffcc;
color:black;
border-radius:10px;
margin:10px;
font-weight:bold;
}

.children{
display:flex;
justify-content:center;
gap:40px;
margin-top:10px;
}